{% extends 'base.html.twig' %}

{% block title %}Région sous dotée - informations{% endblock %}

{% block body %}
    {# Présentation region sous-doutée #}
   
    <h1 class="text-center name-office mb-5">Région sous-dotées</h1>

    <div class="container-fluid">
        <div class="office-describe row shadow-lg p-3 mb-5 bg-body rounded">
            <h2>Signification</h2>
            <hr>
            <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate debitis doloribus eaque eos eveniet fugit illo inventore similique voluptatem voluptatibus! Cumque deleniti ex, exercitationem in unde voluptates. Distinctio, minus quos.</span><span>Accusantium culpa deleniti dolorum est in iure magni quas, quidem rem saepe, soluta, veritatis. Dolorem, hic, inventore! Ab, accusamus animi earum est et impedit minima molestias nulla odio perspiciatis sunt.</span><span>Atque autem consequuntur cupiditate dolor error esse eum id itaque magni minus modi nulla officiis, placeat porro praesentium, quaerat quidem quisquam ratione saepe sint unde ut voluptates! Cupiditate, libero rem.</span><span>A aliquam consequatur culpa distinctio, eligendi laborum numquam pariatur quibusdam similique sunt? Aperiam dicta est facere, iste odio provident quae quia quis quo repudiandae, sunt velit veritatis voluptatem! Deleniti, ipsam!</span><span>Aliquid, animi architecto aut commodi consectetur delectus deleniti deserunt dignissimos dolor doloribus dolorum eius, exercitationem explicabo, fugit inventore magnam modi nam nobis quidem recusandae tempore veniam vero voluptate. Aliquid, magni?</span></p>
    
    
    
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="office-describe row shadow-lg p-3 mb-5 bg-body rounded">
            <h2 class="text-center">Avantages</h2>
            <hr>
            <div class="office-advantage row d-flex justify-content-around mx-auto mt-3">
    
    
                <div class="card mb-5" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title"><i class="fas fa-user-friends"></i> Contrat d'aide à l'installation</h3>
                        <hr>
                        <p class="card-text">Aide forfaitaire annuelle sur une durée de 5 ans en cas d'installation dans un cabinet déjà existant en zone sous-dotée</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-center"><p><span>12500 euros</span> sur 2 ans </p></li>
                        <li class="list-group-item text-center"><p><span>3000 euros</span> sur 3 ans</p></li>
                        <li class="list-group-item">
                            <p class="fw-bolder">Engagements:</p>
                            <p>Exercer à 50% son activité dans la zone pendant 5 ans au sein du cabinet</p>
                        </li>
                    </ul>
                    <div class="card-body ps-0">
                        <img src="{{ asset('images/icons/ameli-icon2.jpg') }}" alt="logo Ameli" class="" style="width:3rem;">
                        <a href="https://www.ameli.fr/masseur-kinesitherapeute/exercice-liberal/vie-cabinet/aide-maintien/aides-installation-maintien-activite-zones-deficitaires#text_63354" target="_blank" class="card-link">Plus de détails sur Ameli.fr</a>
                    </div>
                </div>
    
                <div class="card mb-5" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title"><i class="fas fa-clinic-medical"></i></i> Contrat d'aide au maintien d'activité</h3>
                        <hr>
                        <p class="card-text">Aide forfaitaire annuelle en cas d'exercice en zone sous-doutée, permettant de financer divers investissements et de vous former</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-center"><p><span>3000 euros</span> par an</p></li>
                        <li class="list-group-item text-center"><p><span>+ 150 euros</span> par mois</p></li>
                        <li class="list-group-item">
                            <p class="fw-bolder">Engagements:</p>
                            <p>Poursuivre son activité pendant une durée minimale de 3 ans dans une région sous-doutée</p>
                        </li>
                    </ul>
                    <div class="card-body ps-0">
                        <img src="{{ asset('images/icons/ameli-icon2.jpg') }}" alt="logo Ameli" class="" style="width:3rem;">
                        <a href="https://www.ameli.fr/masseur-kinesitherapeute/exercice-liberal/vie-cabinet/aide-maintien/aides-installation-maintien-activite-zones-deficitaires#text_63360" target="_blank" class="card-link">Plus de détails sur Ameli.fr</a>
                    </div>
                </div>
    
                <div class="card mb-5" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title"><i class="fas fa-laptop"></i> Forfait d'aide à la modérnisation</h3>
                        <hr>
                        <p class="card-text">Il regroupe les différentes aides à la modernisation et à l'informatisation du cabinet (aide à la télétransmission, à la maintenance, SCOR)</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-center"><p><span>490 euros</span></p></li>
                        <li class="list-group-item text-center"><p><span>100 euros</span></p></li>
                        <li class="list-group-item">
                            <p class="fw-bolder">Prérequis:</p>
                            <p>Cinq indicateurs, ainsi qu'un complémentaire, tous atteint par le cabinet</p>
                        </li>
                    </ul>
                    <div class="card-body ps-0">
                        <img src="{{ asset('images/icons/ameli-icon2.jpg') }}" alt="logo Ameli" class="" style="width:3rem;">
                        <a href="https://www.ameli.fr/masseur-kinesitherapeute/exercice-liberal/facturation-remuneration/teletransmission-retour-noemie/forfait-daide-la-modernisation-et-informatisation" target="_blank" class="card-link">Plus de détails sur Ameli.fr</a>
                    </div>
                </div>
    
    
            </div>
        </div>
    </div>
    





{% endblock %}