{% extends 'base.html.twig' %}

{% block title %}Région sous dotée - informations{% endblock %}

{% block body %}
    {# Présentation region sous-doutée #}
    <h1> Région sous-dotée</h1>
{% endblock %}