{% extends 'base.html.twig' %}

{% block title %}Soins et installations{% endblock %}

{% block body %}
    {# Présentation  #}
    <h1> Soins et tarifications</h1>
    <h2 id="service-price">Tarifications</h2>
    <div>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi consectetur dignissimos eligendi
            explicabo, fuga incidunt itaque magnam magni molestiae natus nihil porro quidem reiciendis saepe tenetur
            ullam veritatis voluptatem!
        </div>
        <div>Ab, alias aperiam aut corporis doloremque eius ex iste magni nihil nisi. Accusantium eius ipsam officiis
            quis rem sequi vel veritatis voluptatibus? Consequuntur delectus dolore ea eius porro reiciendis ut!
        </div>
        <div>Accusantium alias amet commodi consequatur deleniti dolorem dolores excepturi fuga harum ipsa itaque
            mollitia necessitatibus neque nihil, odio optio possimus quis tempore vel voluptatem. Distinctio eum itaque
            libero minus sunt!
        </div>
        <div>Ab aliquid at autem earum ex expedita impedit laborum nemo nihil nostrum perferendis quibusdam quod rem,
            sit ullam. Architecto commodi consectetur culpa deserunt error modi, nostrum perspiciatis provident tempora
            tempore!
        </div>
        <div>Alias autem enim eos illo impedit incidunt iste iure iusto nobis officiis optio sequi sit soluta suscipit,
            unde velit veniam vero. Animi consequatur, dignissimos dolorem hic impedit magni numquam quos.
        </div>
        <div>A accusamus animi architecto atque corporis delectus dolor doloribus enim eveniet excepturi facilis, hic
            magnam modi mollitia nesciunt nulla pariatur praesentium quasi quisquam ratione reprehenderit similique
            ullam vero voluptatibus voluptatum.
        </div>
        <div>Delectus eius incidunt ipsum iure nam nostrum rem! Aliquam aut autem, culpa dolore, dolorem eius est ex
            odit, placeat quibusdam suscipit tenetur totam vel veritatis voluptatem? Autem explicabo quo similique.
        </div>
        <div>Animi dignissimos natus sapiente veniam? Ad assumenda, dolores et facere itaque minima odio perferendis
            possimus qui ratione recusandae repudiandae sequi velit! Architecto asperiores at dignissimos ipsum
            recusandae rerum, sed tempora.
        </div>
        <div>Ab assumenda corporis cumque deleniti dignissimos, ducimus, est excepturi fuga, harum illo ipsum molestias
            natus nemo repellat repellendus totam voluptates! Corporis et facere perferendis. Atque blanditiis fuga
            magni quod suscipit?
        </div>
        <div>A accusamus ad aliquid aperiam aspernatur at aut cum eum eveniet ipsam ipsum magni mollitia, nam non
            nostrum obcaecati officiis optio placeat provident quam quidem repellat, reprehenderit sint, unde ut!
        </div>
        <div>Asperiores deleniti doloremque perferendis quia veniam? Architecto at, consectetur doloribus ea expedita
            laudantium quia temporibus. Ab dolorum eum fugit ipsam laboriosam magnam maiores maxime neque, optio
            praesentium quisquam sunt voluptatem.
        </div>
        <div>At distinctio doloremque, dolores eligendi ex explicabo incidunt necessitatibus nesciunt nisi odit officiis
            omnis, optio placeat qui soluta velit voluptas. Aperiam laudantium magnam modi odit quibusdam rem repellat
            rerum, sunt?
        </div>
        <div>Aliquid esse est exercitationem harum iure quibusdam quo. Blanditiis doloremque, et incidunt ipsa laborum
            laudantium molestiae nam natus nesciunt nulla quasi, sapiente sint vel voluptates voluptatibus. Beatae
            cupiditate officia vel!
        </div>
        <div>Animi atque consectetur corporis debitis delectus dolor esse, et eum expedita, illo inventore itaque libero
            nihil pariatur porro qui quidem quis recusandae rem repudiandae, soluta ullam voluptatem voluptatum. Dicta,
            laboriosam?
        </div>
        <div>Amet beatae doloremque dolores earum ex, excepturi explicabo facere hic magni, maxime repudiandae
            temporibus? Blanditiis dolore eos ex labore laboriosam natus necessitatibus nesciunt nobis officia placeat
            quidem recusandae repellendus, unde.
        </div>
        <div>Aperiam cum dolor dolorem expedita facilis in mollitia natus necessitatibus nulla perferendis placeat
            provident quibusdam quo repellat, sint soluta, tempore veritatis voluptatum. Cumque debitis expedita magnam,
            pariatur rem rerum voluptatibus.
        </div>
        <div>Autem dicta esse praesentium quibusdam vitae! Architecto atque corporis deleniti dolor doloremque esse et
            illum, ipsam natus nesciunt nihil nobis, officiis placeat quidem quo quod sint tempora temporibus, vel
            vitae?
        </div>
        <div>Amet aperiam architecto cum cumque delectus dolore eligendi enim eos eveniet ex facere hic laboriosam
            minima non perspiciatis praesentium qui quod repellendus, saepe sequi tenetur veritatis voluptas voluptate.
            Cum, odio?
        </div>
        <div>Aperiam, deleniti deserunt facilis fuga fugit harum inventore ipsa ipsam laboriosam maxime molestiae nam,
            obcaecati praesentium quas repellendus vero voluptas. Accusantium animi at dolorum fugit iure numquam ut vel
            veritatis!
        </div>
        <div>Alias consectetur consequuntur cumque deserunt dolor eius fugit nam non, nostrum obcaecati, perferendis
            placeat rem repudiandae sapiente similique sit suscipit tempora tempore temporibus tenetur. Commodi
            consequuntur earum nobis quaerat voluptatibus.
        </div></div>
    <h2 id="medical-facility">Installations</h2>
{% endblock %}