{%  extends '@EasyAdmin/layout.html.twig' %}

{%  block content %}

<div class="container-fluid ">
    <div class="p-3 mb-5">
        <h1 class="text-center mb-5">Panneau de configuration</h1>
        <p class="text-center mb-5">Bienvenue dans l'administration de votre site</p>
    </div>
</div>


{%  endblock %}