

<h1>Confirmation d'envoi de message - SCM KINE + 71</h1>



    <h2>Récapitulatif de votre message</h2>

    <p>Envoyé par : {{ contact_email }}</p>
    <p>Sujet : {{ contact_subject }}</p>
    <p>{{ content }}</p>

